@font-face {
  font-weight: 400;
  font-family: "DM Sans";
  font-style: normal;
  src: url("./fonts/dm_sans_400.woff2") format(woff2), url("./fonts/dm_sans_400.woff") format(woff); }

@font-face {
  font-weight: 700;
  font-family: "DM Sans";
  font-style: normal;
  src: url("./fonts/dm_sans_700.woff2") format(woff2), url("./fonts/dm_sans_700.woff") format(woff); }

@font-face {
  font-weight: 400;
  font-family: "DM Sans";
  font-style: normal;
  src: url("./fonts/dm_sans_400_italic.woff2") format(woff2), url("./fonts/dm_sans_400_italic.woff") format(woff); }

@font-face {
  font-weight: 400;
  font-family: "dm_serif_display";
  font-style: normal;
  src: url("./fonts/dm_serif_display_400.woff2") format(woff2), url("./fonts/dm_serif_display_400.woff") format(woff); }

html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "DM Serif Display";
  box-sizing: border-box; }

h1 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  padding: 2%; }

p, a {
  font-family: "DM Sans"; }

img {
  max-width: 100%; }

figure {
  margin: 0;
  padding-block-start: 2rem;
  padding-block-end: 2rem; }

span {
  visibility: hidden; }

@media (min-width: 1440px) {
  h1 {
    font-size: 40px;
    line-height: 48px; }
  header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

:root {
  --position: absolute;
  --pixels: 64px;
  --white: #ffffff; }

.masthead__icon--menu {
  padding-block-start: calc(var(--pixels) - 32px); }

.masthead {
  background-color: #434CCC;
  color: var(--white);
  padding-inline-start: calc(var(--pixels) - 48px);
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.masthead__navigation {
  display: none; }

[type="checkbox"] {
  position: var(--position);
  right: calc(var(--pixels) - 50px);
  top: calc(var(--pixels) - 29px);
  width: 1px; }

[type="checkbox"]:checked ~ header label {
  position: var(--position);
  background-color: #000000;
  right: 0;
  opacity: 0.6;
  top: calc(var(--pixels) + 14px);
  height: calc(var(--pixels) + 172px); }

[type="checkbox"]:checked ~ header > nav {
  display: block;
  position: var(--position);
  right: var(--pixels);
  top: calc(var(--pixels) + 26px);
  list-style: none; }

.bold1 {
  display: block; }

.lists {
  list-style: none;
  line-height: calc(var(--pixels) - 19px);
  margin: 0;
  padding: 0; }

.lists > li > a {
  text-decoration: none;
  color: var(--white); }

.menu {
  width: 50%; }

@media (min-width: 1440px) {
  .masthead__icon--menu {
    display: none; }
  .masthead__navigation {
    margin-inline-end: var(--pixels);
    margin-block-start: var(--pixels); }
  .lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .lists > li {
    list-style: none;
    margin-inline-end: calc(var(--pixels) - 16px); }
  .lists > li > a {
    font-weight: 700;
    font-size: calc(var(--pixels) - 48px);
    line-height: calc(var(--pixels) - 40px);
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff; }
  .bold1 {
    display: none; } }

aside {
  padding-block-start: 2rem; }

aside > a::before {
  content: url(../icons/icon_arrow_left.png);
  padding: 1rem; }

aside > a {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  text-decoration: none; }

.first__section {
  background-color: rgba(67, 76, 204, 0.05);
  mix-blend-mode: normal;
  padding-inline-end: 16px;
  padding-inline-start: 16px; }

.choosen__image > img {
  width: 100%; }

.heading > h2 {
  font-size: 52px;
  line-height: 64px;
  width: 350px; }

.heading > p {
  font-size: 18px;
  line-height: 32px;
  padding-block-end: 32px; }

@media (min-width: 1440px) {
  .slider {
    width: 12.05%; }
  .first__section {
    padding-inline-end: 64px;
    padding-inline-start: 64px; } }

.sliding:not(.ChoosenImg) {
  display: flex;
  overflow-x: auto;
  padding-block-end: 48px; }

.slide {
  width: 137px;
  flex-shrink: 0;
  height: 100%;
  margin-inline-end: 7px; }

.ChoosenImg > img {
  width: 100%; }

@media (min-width: 1440px) {
  .slide {
    width: 12.05%; } }

.section__main--heading > h3 {
  font-size: 40px;
  line-height: 48px; }

.section__main--description {
  font-size: 18px;
  line-height: 32px;
  max-width: 570px; }

.section__main--subdescription {
  font-family: "dm_sans";
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal; }

.lists__icons {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0; }

.lists__icons li {
  list-style: none; }

.icon {
  width: 55%; }

.section__container--table--lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.first__table {
  padding-inline-start: 0; }

.seconde__table {
  width: 50%; }

em {
  font-family: "dm_sans";
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  font-style: inherit; }

@media (min-width: 1440px) {
  .section__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block-start: 64px;
    padding-block-end: 32px; }
  .section__container--table--lists {
    width: 100%; } }

.second__section {
  background-color: #ffdd78;
  padding: 1rem;
  padding-block-start: 80px; }

.latest__heading > a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000; }

.latest__heading > h3 {
  font-size: 40px;
  line-height: 48px;
  max-width: 314px; }

.latest__email {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 60px;
  text-transform: uppercase;
  color: #000000; }

.latest__email ~ input {
  width: 100%;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 5px; }

#placeholder {
  font-family: "dm_sans";
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal; }

.second__section > button {
  padding: 12px;
  background-color: #434ccc;
  border-radius: 5px;
  width: 50%;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-block-start: 16px; }

@media (min-width: 1440px) {
  .latest__heading > h3 {
    font-size: 52px;
    line-height: 64px;
    max-width: 403px; }
  .second__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-end: 64px;
    padding-inline-start: 63px; }
  .second__section > form {
    margin-block-start: 57px; }
  .latest__email ~ input {
    width: 445px; }
  .second__section > button {
    max-width: 222px;
    max-height: 47px;
    margin-block-start: 117px;
    margin-inline-start: -9rem; } }

.third__section {
  padding-inline-start: 16px;
  padding-block-start: 32px; }

.thirst__secton--heading > h4 {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase; }

.thirst__secton--heading > p {
  font-family: "dm_sans";
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal; }

.intro__lists--icons {
  display: flex;
  flex-direction: row;
  padding: 0; }

.intro__lists--icons > li {
  list-style: none; }

.intro__lists--icons > li > a {
  text-decoration: none; }

.navigation {
  padding-block-start: 32px; }

.navigation__lists {
  font-size: 16px;
  line-height: 37px;
  list-style: none;
  padding: 0;
  margin: 0; }

.bold > a {
  color: #000000;
  text-decoration: none; }

.light__link {
  padding-block-end: 48px; }

.light__link > li > a {
  font-family: "dm_sans";
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  text-decoration: none; }

.food > p:nth-of-type(1),
.experiece > p:nth-of-type(1) {
  font-family: "dm_sans";
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  margin-inline-start: 208px;
  margin-block-start: -100px; }

.food > p:nth-of-type(2),
.experiece > p:nth-of-type(2) {
  margin-inline-start: 208px;
  margin-block-start: 16px;
  padding-block-end: 32px; }

.food::before {
  content: url(../images/woman_xs.jpg); }

.experiece::before {
  content: url(/webroot/images/passage_xs.jpg); }

@media (min-width: 1440px) {
  .third__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 64px;
    padding-block-start: 64px;
    padding-block-end: 64px; }
  .thirst__secton--heading {
    max-width: 270px; }
  .aside {
    padding-inline-end: 64px;
    padding-block-start: 42px; } }

footer {
  margin-inline-start: 16px;
  padding-block-end: 32px; }

.laaqiq, .onja {
  font-family: "dm_sans";
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
  text-decoration: none; }

.main__footer {
  font-family: "dm_sans";
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal; }

@media (min-width: 1440px) {
  footer {
    padding-block-start: 32px; }
  .main__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline-end: 80px; } }
