aside {
    padding-block-start: 2rem;
  }
  aside > a::before {
    content: url(../icons/icon_arrow_left.png);
    padding: 1rem;
  }
  
  aside > a {
    font-family: "dm_sans";
    font-size: 24px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: normal;
    text-decoration: none;
  }

  
@media (min-width: $querry) {
    
}