@import "variable";

aside {
  padding-block-start: calc(var(--min-width) * 2);
}

aside > a::before {
  background-image: url(../icons/icon_arrow_left.png);
    background-repeat: no-repeat;
    background-size: 13.5px;
    background-position-y: calc(var(--min-width) - 10px);
    padding-inline-start: var(--min-width);
    padding-inline-end: var(--min-width);
    content: "";
  }

aside > a {
  @include blend_mode;
  text-decoration: $allnones;
}
