
.first__section {
  background-color: rgba(67, 76, 204, 0.05);
  mix-blend-mode: normal;
  padding-inline-end: 64px;
  padding-inline-start: 64px;
}

.sliding {
  display: flex;
  overflow-x: auto;
  }
  
.slider {
  width: 137px;
  flex-shrink: 0;
  height: 100%;
  margin-inline-end: 7px;
}

.choosen__image > img {
  width: 100%;
}

.heading > h2 {
  font-size: 52px;
  line-height: 64px;
  max-width: 477px;
}

.heading > p {
  font-size: 18px;
  line-height: 32px;
  padding-block-end: 32px;
}

@media (min-width: $querry) {
  .slider {
    width: 12.05%;
  }
}