@import "variable";

footer {
  margin-inline-start: var(--min-width);
  padding-block-end: calc(var(--min-width) * 2);
}

.laaqiq,
.onja {
  @include blend_mode;
  text-decoration: $allnones;
}

.main__footer {
  @include blend_mode;
}

@media (min-width: $querry) {
  footer {
    padding-block-start: calc(var(--min-width) * 2);
  }
  
  .main__footer {
    @include flex;
    margin-inline-end: calc(var(--min-width) * 5);
  }
}
