footer {
  margin-inline-start: 16px;
  padding-block-end: 32px;
}

.laaqiq, .onja {
  @include blend_mode;
  text-decoration: none;
}

.main__footer {
  @include blend_mode;
}

@media (min-width: $querry) {
  footer {
    padding-block-start: 32px;
  }
  .main__footer {
    @include flex;
    margin-inline-end: 80px;
  }
}
