.masthead__icon--menu {
  padding-block-start: 2rem;
}

.masthead {
  background-color: #434CCC;
  color: #FFFFFF;
  padding-inline-start: 16px;
  @include flex;
}


.menu {
  width: 50%;
}

[type="checkbox"] {
  display: block;
}

.lists{
  display: none;
}

// .navigation {
//   position: absolute;
//   top: 208px;
//   bottom: 0;
//   width: 250px;
//   left: 85%;
//   list-style: none;
//   z-index: 3;
//   margin: 0;
//   padding: 0;
//   transform: translateX(-50%);
// }

[type="checkbox"]:checked ~ .navigation {
  transform: translateX(0%);
}

[type="checkbox"]:checked  ~ header label {
  position: absolute;
  top: 10.5%;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 400px;
  z-index: 1;
  color: #FFFFFF;
  background-color: #000000;
  transform: translateX(100%);
}


@media (min-width: $querry) {
  .masthead__icon--menu {
    display: none;
  }
  .masthead__navigation {
    margin-inline-end: 64px;
    margin-block-start: 64px;
  }
  .lists {
    @include flex;
  }
  .lists > li {
    list-style: none;
    margin-inline-end: 3rem;
  }
  .lists > li > a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
  }
}