@import "variable";


.masthead__icon--menu {
  padding-top: calc(var(--pixels) - 32px);
}

.masthead {
  background-color: #434ccc;
  color: var(--white);
  padding-left: calc(var(--pixels) - 48px);
  @include flex;
}

.masthead__navigation {
  display: $allnones;
}

[type="checkbox"] {
  position: var(--position);
  right: calc(var(--pixels) - 50px);
  top: calc(var(--pixels) - 29px);
  width: 1px;
}

[type="checkbox"]:checked ~ header label {
  position: var(--position);
  background-color: #000000;
  right: 0;
  opacity: 0.6;
  top: calc(var(--pixels) + 14px);
  height: calc(var(--pixels) + 172px);
  transform: translateX(-100%);
  transition: transform 1s;
}

[type="checkbox"]:checked ~ header label:hover {
  border-radius: 5px;
  opacity: 0.8;
}

[type="checkbox"]:checked ~ header > nav {
  display: block;
  position: var(--position);
  right: var(--pixels);
  top: calc(var(--pixels) + 26px);
  list-style: $allnones;
  transform: translateX(-305%);
  transition: transform ease-out;
  transition-delay: 1s;
}

.bold1 {
  display: block;
}

.lists {
  list-style: $allnones;
  line-height: calc(var(--pixels) - 19px);
  margin: 0;
  padding: 0;
}

.lists > li > a {
  text-decoration: $allnones;
  color: var(--white);
}

.menu {
  width: calc(var(--width) - 50%);
}

@media (min-width: $querry) {

  .masthead__icon--menu {
    display: $allnones;
  }

  .masthead__navigation {
    display: block;
    margin-right: var(--pixels);
    margin-top: var(--pixels);
  }

  .lists {
    @include flex;
  }

  .lists > li {
    list-style: $allnones;
    margin-right: calc(var(--pixels) - var(--min-width));
  }
  
  .lists > li > a {
    font-weight: 700;
    font-size: calc(var(--pixels) - 48px);
    line-height: calc(var(--pixels) - 40px);
    text-decoration: $allnones;
    text-transform: uppercase;
    color: var(--white);
  }

  .bold1 {
    display: $allnones;
  }
}
