.second__section {
  background-color: #ffdd78;
  padding: 1rem;
  padding-block-start: 80px;
}

.latest__heading > a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.latest__heading > h3 {
  font-size: 40px;
  line-height: 48px;
  max-width: 314px;
}

.latest__email {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 60px;
  text-transform: uppercase;
  color: #000000;
}

.latest__email ~ input {
  width: 100%;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 5px;
}

#placeholder {
  @include blend_mode;
}

.second__section > button {
  padding: 12px;
  background-color: #434ccc;
  border-radius: 5px;

  width: 50%;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-block-start: 16px;
}

@media (min-width: $querry) {
  .latest__heading > h3 {
    font-size: 52px;
    line-height: 64px;
    max-width: 403px;
  }

  .second__section {
    @include flex;
    padding-inline-end: 64px;
    padding-inline-start: 63px;
  }

  .second__section > form {
    margin-block-start: 57px;
  }

  .latest__email ~ input {
    width: 445px;
  }

  .second__section > button {
    max-width: 222px;
    max-height: 47px;
    margin-block-start: 117px;
    margin-inline-start: -9rem;
  }
}
