.section__main {
  padding-inline-start: 15px;
  padding-inline-end: 15px;
}
.section__main--heading > h3 {
  font-size: 40px;
  line-height: 48px;
}
.section__main--heading ~ p {
  font-family: "dm_sans";
}

.section__main--description {
  font-size: 18px;
  line-height: 32px;
}

.section__main--subdescription {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
}

.lists__icons {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.lists__icons li {
  list-style: none;
}

.icon {
  width: 55%;
}

.section__container--table--lists {
  @include flex;
}

.first__table,
.seconde__table {
  padding: 7%;
}

.seconde__table {
  width: 80%;
}

em {
  font-family: "dm_sans";
  font-size: 16px;
  font-style: inherit;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: normal;
}

@media (min-width: $querry) {
  .section__container {
    @include flex;
    padding-inline-start: 140px;
  }

  .section__container--table--lists {
    width: 100%;
  }

  .section__main {
    max-width: 570px;
    padding-inline-end: 64px;
  }
}