.section__main--heading > h3 {
  font-size: 40px;
  line-height: 48px;
}

.section__main--description {
  font-size: 18px;
  line-height: 32px;
  max-width: 570px;
}

.section__main--subdescription {
  @include blend_mode;
}

.lists__icons {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.lists__icons li {
  list-style: none;
}

.icon {
  width: 55%;
}

.section__container--table--lists {
  @include flex;
}


.first__table {
  padding-inline-start: 0;
}

.seconde__table {
  width: 50%;
}

em {
  @include blend_mode;
  font-style: inherit;
}

@media (min-width: $querry) {
  .section__container {
    @include flex;
    padding-block-start: 64px;
    padding-block-end: 32px;
  }

  .section__container--table--lists {
    width: 100%;
  }  
}