.sliding:not(.ChoosenImg) {
  display: flex;
  overflow-x: auto;
  opacity: 0.5;
}


.slide {
  width: 137px;
  flex-shrink: 0;
  height: var(--width);
  margin-bottom: 7px;
  margin-right: 10px;
}

.ChoosenImg > img {
  width: var(--width);
}

@media (min-width: $querry) {
  .slide {
    width: 12.05%;
  }
}
